<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/post.css">

    <link href="/static/roboto/roboto.css" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <a href="/">Back</a>
    </div>
    <div class="post">

        {{.PostText}}
        <hr class="solid">
        <div class="data">
        <img src="/static/img/time.svg" alt="" class="timesvg">
        {{.PostDate.Format "Jan 02, 2006 15:04"}}
        </div>
    </div>
</body>
</html>