* {
    color: black;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: #333;
    overflow: auto;
    padding: 0;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5vh 16px;

    text-decoration: none;
    font-size: 2vh;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media (max-width:1024px) {
    .p2 {
        font-size: 2.1vh;
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


    .data {

        padding-bottom: 10vh;
    }
}
@media (min-width:1024px) {
    .p2 {
        font-size: 1vw;
        position: relative;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5vh;
    }
    .data {


        padding-bottom: 10vh;
    }
}
.p2 * { display: inline;}
.p4 {
    width: 100%;
    resize: none;
}