* {
    text-decoration: none;
    word-break: break-all;
}
html, body {
    margin: 0;
    padding: 0;
}
.pagetitle {
    background-color: #333;
    overflow: auto;
    padding: 0;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    overflow-x: hidden;
}


.posts {
    position: relative;
    left: 0;


}
.post {
    background: #f2f2f2;
    width: 90vw;
    position: relative;
    box-shadow: 10px 10px 5px rgba(45, 45, 45, 0.72);
    border-radius: 20px;
    transition: all .2s ease-in-out;
    padding-bottom: 0.5px;
    margin-left: auto;
    margin-right: auto;

}

.post:hover{
    box-shadow: 15px 15px 5px rgba(30, 30, 30, 0.72);
    transform: scale(1.01, 1.01);
}

.title, .desc, .image, .date{
    margin-left: 10px;

}

.title, .pagetitle{
    color: black;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;

}
.desc {
    color: black;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}
.date {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.p1 {
    position: relative;
    text-align: center;
    /*width: 10%;*/
    color: #f2f2f2;
    font-size: 2.5vh;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 89vh;
}
@media (max-width:1024px) {
    .title {
        font-size: 5vh;
    }
    .desc {
        font-size: 5vw;
    }
    img {
        width: 88vw;
    }
}