/* roboto */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url(roboto.woff2) format("woff2");
}
/* roboto-medium */
@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url(roboto-medium.woff2) format("woff2");
}

